root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{go,mod,sum}]
indent_style = tab

[*.{cs,xaml,xml,json,md,ps1}]
indent_style = space
indent_size = 4

[*.md]
trim_trailing_whitespace = false

